.tab{
    display: flex;
    margin-right: 20px;
}
.tab-name{
    font-size: 1.5em;
    margin-right: 20px;
    margin-left: 20px;
    font-size: bolder;
}
.menu{
    display: flex;
    border: 1px solid #000;
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
}
.menu-item{
    border-radius: 30px;
    cursor: pointer;
}
.menu-item span{
    padding: 4px 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.menu-item.active{
    background-color: #002042;
    color: #79e2b8;
    display: inline-block;
}
.menu-container{
    position: relative;
}
.menu-mobile{
    display: block;
    border: 0;
    background-color: #79e2b8;
    max-width: auto;
    position: absolute;
    z-index: 1000;
    border-radius: 15px;
}
.menu-item-mobile{
    display: none;
}
.menu-item-mobile span{
    padding: 8px 15px;
}
.menu-item-mobile.active{
    display: inline-block;
}
.menu-mobile.open .menu-item-mobile{
    display: block;
}
@media only screen and (max-width: 400px) {
    .tab-name{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 300px) {
    .tab-name{
        font-size: 1.2em;
        max-width: 100px;
        margin-right: 5px;
    }
}