.tab{
    display: flex;
    margin-right: 20px;
}
.tab-name{
    font-size: 1.5em;
    margin-right: 20px;
    margin-left: 20px;
}
.menu{
    display: flex;
    border: 1px solid #000;
    width: fit-content;
    border-radius: 30px;
}
.menu-item{
    border-radius: 30px;
    cursor: pointer;
}
.menu-item span{
    padding: 4px 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.menu-item.active{
    background-color: #002042;
    color: #79e2b8;
}